#ignorar arquivos .pem e .lock
*.pem
*.key
*.lock

#ignorar o gerador de certificados
make-certs.sh

#por segurança, iremos impedir as pasta secrets/
*-secrets/

# swanctl secrets contém caminhos e nomes sensíveis
swanctl.secrets